body {
  background-color: white;
}

* {
  max-width: 1920px;
  padding:0;
  margin:0 auto;
  /*font-family: 'Roboto', sans-serif;*/
   /*outline: 1px solid red !important;*/
  font-family: 'Ubuntu', sans-serif;
}

#site{
  background-color: rgb(84, 215, 51);
  max-width: 1920px;
  margin: auto;
}

#main{
  max-width: 100%;
}

.clearfix {
  overflow: auto;
}

.education-entry, .work-entry, .project-entry {
  padding-left: 5%;
  padding-right: 5%;
}

#projects, #mapDiv{
  background-color: rgba(255, 255, 255, 0.82);
}

.project-img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}
.biopic {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.url {
    font-style: italic;
    font-size: 14px;
    color: #999999;
    line-height: 16px;
    float: right;
    margin-top: 0;
}

h1 {
  font-size: 40px;
  color: #F5A623;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4A4A4A;
  line-height: 17px;
}

h2, h3, h4, h5 {
  padding:10px;
  padding-left: 5%;
  padding-right: 5%;
}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #333333;
  line-height: 21px;
}

a {
  color: #1199C3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  /*font-style: italic;*/
  font-size: 18px;
  color: #F3F3F3;
  line-height: 28px;
}

#skillsH3 {
  color: #F5AE23;
  display: none;
}

.orange {
  background-color: #F5AE23;
}

.orange-text {
  color: #F5AE23;
}

.white-text {
  font-weight: bold;
  color: #FFFFFF;
}

.gray {
  background-color: rgba(230, 230, 250, 0.76);
}

.dark-gray {
  background-color: rgba(34, 139, 0, 0.5);
}

/* TODO: Replace with image later */
#header {
  background-color: rgba(34, 139, 0, 0.5);
}
.center-content {
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2.5%
}

#role {
  white-space: nowrap;
}
ul {
  list-style-type: none;
  text-align: center;
  padding: 10px;
}

li {
  display: inline-block;
}

.biopic {
  float: left;
  padding: 1%;
  width: 200px;
  display: none;
}

img {
  padding: 1%;
  margin-right: 2%;
}

/* Bar chart stuff */
.chart div {
  font: 10px sans-serif;
  background-color: #4A4A4A;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  display: inline-block;
}

span {
  padding: 5px;
}

#letsConnect {
  text-align: center;
}

/* This button was generated using CSSButtonGenerator.com and customize by Andrea :)*/
.btn {
  /*-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;*/
  /*box-shadow:inset 0px 1px 0px 0px #fce2c1;*/
  background-color:#F5AE23;
  border:1px solid #eeb44f;
  color:#ffffff;
  font-size:16px;
  font-weight:bold;
  height:50px;
  line-height:50px;
  width:126px;
  text-align:center;
  text-shadow:1px 1px 0px #cc9f52;
}

.btn:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f5af23), color-stop(1, #ffc477) );
  background:-moz-linear-gradient( center top, #f5af23 5%, #ffc477 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5af23', endColorstr='#ffc477');
  background-color:#f5af23;

}.btn:active {
  position:relative;
  top:1px;
}

@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 1%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 400px;
  margin-left: 5%;
  margin-right: 5%;
}

#mapDiv {
  width: 100%;
  padding-bottom: 2%;
}

@media only screen and (min-width: 750px) {
  #skillsH3,
  .biopic {
    display: block;
  }

  
  /**, p{
    font-size: 22px;   
  }*/
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }

  p, #role, .welcome-message, .date-text, .location-text, ul, a, .url {
    font-size: 20px;
  }
}
